<ion-header>
  <ion-toolbar>
    <div class="desktop-menu">
      <a class="logo">
        <img src="../../../../assets/new-logos/GZX-01.jpg" />
      </a>

      <ul>
        <li class="active" (click)="home()">
          <a>Home</a>
        </li>
        <li (click)="products()">
          <a>Products</a>
        </li>

        <!--
        <li (click)="gallery()">
          <a>Gallery</a>
        </li>
      -->

        <!--
        <li (click)="about()">
          <a>About US</a>
        </li>
      -->
        <li (click)="contact()">
          <a>Contact US</a>
        </li>

        <li (click)="admin()">
          <a>Login</a>
        </li>

        <div>
          <ion-icon name="logo-whatsapp"></ion-icon>
          <p>068 6465 2655</p>
        </div>

        <button (click)="getOffer()">Get Quote</button>
      </ul>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="box-wrapper">
  <div class="banner">
    <!--
    <div class="pic-back">
      <img src="../../../../assets/promo.jpg" alt="" />
    </div>
    <div class="over-banner">
      <div>
        <h3>GZX funeral Services :</h3>
        <p>&dot; &nbsp; Bury Your Loved Ones</p>
        <p>&dot; &nbsp; Affordable Funeral Services For All</p>
        <p>&dot; &nbsp; Society Support</p>
        <p>&dot; &nbsp; 24/Hour Claim Period</p>
        <p>&dot; &nbsp; Trauma Counselling</p>

        <div id="quote-below">
          <p>
            <i>"</i>
            Serving families is our passion, our commitment and our expertise.
            Whether you’re planning a funeral or cremation service for a loved
            one, or making your own arrangements in advance, meaningful life
            celebrations begin with GZX FUNERALS
            <i>"</i>
          </p>
          <p class="name">Jordan P Baloyi</p>
        </div>
      </div>
    </div>
    -->

    <div class="the-wrapper">
      <div class="top-of-banner">
        <h3>GZX funeral Services :</h3>
        <p>&dot; &nbsp; Bury Your Loved Ones</p>
        <p>&dot; &nbsp; Affordable Funeral Services For All</p>
        <p>&dot; &nbsp; Society Support</p>
        <p>&dot; &nbsp; 24/Hour Claim Period</p>
        <p>&dot; &nbsp; Trauma Counselling</p>

        <div id="quote-below">
          <p>
            <i>"</i>
            Serving families is our passion, our commitment and our expertise.
            Whether you’re planning a funeral or cremation service for a loved
            one, or making your own arrangements in advance, meaningful life
            celebrations begin with GZX FUNERALS
            <i>"</i>
          </p>
          <p class="name">Jordan P Baloyi</p>
        </div>
      </div>

      <div class="bottom-of-banner">
        <swiper-container [loop]="true" autoplay effect="coverflow">
          <swiper-slide>We availabe in three provinces</swiper-slide>
          <swiper-slide>Our team will get back with a quote</swiper-slide>
          <swiper-slide>register to enjoy all benefits</swiper-slide>
        </swiper-container>
      </div>
    </div>
  </div>

  <div class="gallery-main">
    <div class="image-welcome">
      <img
        src="../../../../assets/new-logos/BLACK N WHITE alternative/GZX-02.png"
        alt=""
      />
    </div>

    <div class="right-gal-content">
      <div class="heading">
        <button>A Final Home For All</button>
        <h2>Welcome To GZX Funeral Servies</h2>
      </div>

      <div class="content">
        <p>
          For us there is no greater honor than helping to remember a life
          lived. We are dedicated, local professionals committed to getting
          every detail right, every time. We do this by listening, caring and
          guiding each and every family who walks through our doors. It's our
          oath
        </p>
      </div>

      <div class="main-icons">
        <div class="single-icon-main">
          <ion-icon name="car-sport"></ion-icon>
          <p>Vehicles</p>
        </div>
        <div class="single-icon-main">
          <ion-icon name="calendar"></ion-icon>
          <p>Since 1980</p>
        </div>
        <div class="single-icon-main">
          <ion-icon name="location"></ion-icon>
          <p>Mpumalanga</p>
        </div>
        <div class="single-icon-main">
          <ion-icon name="file-tray-stacked"></ion-icon>
          <p>300+ Cases</p>
        </div>
      </div>
    </div>
  </div>

  <!--
  <div class="welcome-division">
    <div class="welcome-heading">
      <div>
        <img
          src="../../../../assets/new-logos/BLACK N WHITE alternative/GZX-02.png"
          alt=""
        />
      </div>
      <h3>
        Welcome to <i>GZX Funeral & Buriel </i> Services, Here To Serve You and
        Your People <strong>.....</strong>
      </h3>
    </div>

    <div class="welcome-explain">
      <p>
        For us there is no greater honor than helping to remember a life lived.
        We are dedicated, local professionals committed to getting every detail
        right, every time. We do this by listening, caring and guiding each and
        every family who walks through our doors. It's our oath , our mantra and
        overall our etiquette.
      </p>
    </div>
  </div>
-->
  <div class="heading">
    <div></div>
    <h2>Services we offer</h2>
  </div>
  <div class="middle-home">
    <div class="services">
      <div class="single-service">
        <ion-icon name="skull-outline"></ion-icon>
        <div class="heading-service"><h5>Burials</h5></div>
        <div class="description">
          <p>
            Get buriel cover now for less, cover any number of family members.
            Claim within 24 hours hassle free and transparent
          </p>
        </div>
        <ion-button (click)="products()">Get Now</ion-button>
      </div>

      <div class="single-service">
        <ion-icon name="heart-half-outline"></ion-icon>
        <div class="heading-service"><h5>Memorials</h5></div>
        <div class="description">
          <p>
            Get buriel cover now for less, cover any number of family members.
            Claim within 24 hours hassle free and transparent
          </p>
        </div>
        <ion-button (click)="products()">Get Now</ion-button>
      </div>

      <div class="single-service">
        <ion-icon name="people-outline"></ion-icon>
        <div class="heading-service"><h5>Funeral Cover</h5></div>
        <div class="description">
          <p>
            Get buriel cover now for less, cover any number of family members.
            Claim within 24 hours hassle free and transparent
          </p>
        </div>
        <ion-button (click)="products()">Get Now</ion-button>
      </div>

      <div class="single-service">
        <ion-icon name="book-outline"></ion-icon>
        <div class="heading-service"><h5>Obituary</h5></div>
        <div class="description">
          <p>
            Get buriel cover now for less, cover any number of family members.
            Claim within 24 hours hassle free and transparent
          </p>
        </div>
        <ion-button (click)="products()">Get Now</ion-button>
      </div>
    </div>

    <div class="mid-quote">
      <div class="icon-top">
        <ion-icon name="paw"></ion-icon>
      </div>
      <div class="quote-info">
        <h3>
          It is importatnt for us as africans to give our loved ones a dignified
          funeral for them to never be forgetten.
        </h3>
        <p>- Image Shondlani</p>
      </div>
      <div class="icon-bottom">
        <ion-icon name="paw"></ion-icon>
      </div>
    </div>

    <!--

    <div class="second-banner">
      <div id="left-pic">
        <img
          src="../../../../assets/funeral-service-pretoria-gauteng.jpg "
          alt=""
        />
      </div>

      <div id="second-description">
        <h2>The Ultimate Pack</h2>
        <p>
          Get the all in pack, it has all the cover and options that you might
          require packed in one premium and package
        </p>

        <div class="icons-ultimate">
          <div class="single-iconsult">
            <div>
              <ion-icon name="checkmark-done"></ion-icon>
            </div>

            <p>Burial</p>
          </div>
          <div class="single-iconsult">
            <div>
              <ion-icon name="checkmark-done"></ion-icon>
            </div>

            <p>Memorials</p>
          </div>

          <div class="single-iconsult">
            <div>
              <ion-icon name="checkmark-done"></ion-icon>
            </div>

            <p>Funeral Cover</p>
          </div>

          <div class="single-iconsult">
            <div>
              <ion-icon name="checkmark-done"></ion-icon>
            </div>

            <p>Obituary</p>
          </div>
        </div>
        <ion-button (click)="getOffer()">Get Now</ion-button>
      </div>
    </div>

  --></div>

  <div class="products">
    <div class="heading">
      <div></div>
      <h2>Our Products</h2>
    </div>

    <div class="home-products">
      <div class="left-button"></div>

      <swiper-container
        #swiper
        [loop]="true"
        autoplay
        effect="slide"
        [pagination]="true"
        (afterinit)="swiperReady()"
        style="box-shadow: none !important"
        [shadow]="false"
        [slideShadows]="false"
      >
        <swiper-slide
          class="the-products"
          style="box-shadow: none !important"
          [slideShadows]="false"
        >
          <div class="single-top-six">
            <div class="photo">
              <img src="../../../../assets/tent.jpg" alt="" />
            </div>
            <div class="middle-top-five">
              <p>Tents&nbsp; <i>R</i>4366</p>
            </div>
            <div class="button-top-photo">
              <button>BUY</button>
            </div>
          </div>

          <div class="single-top-six">
            <div class="photo">
              <img src="../../../../assets/fast-hurae.jpg" alt="" />
              <div>
                <p>SALE -25%</p>
              </div>
            </div>
            <div class="middle-top-five">
              <p>Fast Hurse &nbsp; <i>R</i>2000</p>
            </div>
            <div class="button-top-photo">
              <button>BUY</button>
            </div>
          </div>

          <div class="single-top-six">
            <div class="photo">
              <img src="../../../../assets/urn.jpg" alt="" />
            </div>
            <div class="middle-top-five">
              <p>Urn&nbsp; <i>R</i>500</p>
            </div>
            <div class="button-top-photo">
              <button>BUY</button>
            </div>
          </div>

          <div class="single-top-six">
            <div class="photo">
              <img src="../../../../assets/cas1.jpg" alt="" />
              <div>
                <p>SALE -25%</p>
              </div>
            </div>
            <div class="middle-top-five">
              <p>Casket&nbsp; <i>R</i>1500</p>
            </div>
            <div class="button-top-photo">
              <button>BUY</button>
            </div>
          </div>
        </swiper-slide>
        <swiper-slide
          class="the-products"
          style="box-shadow: none !important"
          [slideShadows]="false"
        >
          <div class="single-top-six">
            <div class="photo">
              <img src="../../../../assets/tent.jpg" alt="" loading="lazy" />
              <div class="swiper-lazy-preloader"></div>
            </div>
            <div class="middle-top-five">
              <p>Tents&nbsp; <i>R</i>4366</p>
            </div>
            <div class="button-top-photo">
              <button>BUY</button>
            </div>
          </div>

          <div class="single-top-six">
            <div class="photo">
              <img src="../../../../assets/fast-hurae.jpg" alt="" />
            </div>
            <div class="middle-top-five">
              <p>Fast Hurse &nbsp; <i>R</i>2000</p>
            </div>
            <div class="button-top-photo">
              <button>BUY</button>
            </div>
          </div>

          <div class="single-top-six">
            <div class="photo">
              <img src="../../../../assets/urn.jpg" alt="" />
            </div>
            <div class="middle-top-five">
              <p>Urn&nbsp; <i>R</i>500</p>
            </div>
            <div class="button-top-photo">
              <button>BUY</button>
            </div>
          </div>

          <div class="single-top-six">
            <div class="photo">
              <img src="../../../../assets/cas1.jpg" alt="" />
              <div>
                <p>SALE -25%</p>
              </div>
            </div>
            <div class="middle-top-five">
              <p>Casket&nbsp; <i>R</i>1500</p>
            </div>
            <div class="button-top-photo">
              <button>BUY</button>
            </div>
          </div>
        </swiper-slide>
        <swiper-slide
          class="the-products"
          style="box-shadow: none !important"
          [slideShadows]="false"
        >
          <div class="single-top-six">
            <div class="photo">
              <img src="../../../../assets/tent.jpg" alt="" />
            </div>
            <div class="middle-top-five">
              <p>Tents&nbsp; <i>R</i>4366</p>
            </div>
            <div class="button-top-photo">
              <button>BUY</button>
            </div>
          </div>

          <div class="single-top-six">
            <div class="photo">
              <img src="../../../../assets/fast-hurae.jpg" alt="" />
              <div>
                <p>SALE -25%</p>
              </div>
            </div>
            <div class="middle-top-five">
              <p>Fast Hurse &nbsp; <i>R</i>2000</p>
            </div>
            <div class="button-top-photo">
              <button>BUY</button>
            </div>
          </div>

          <div class="single-top-six">
            <div class="photo">
              <img src="../../../../assets/urn.jpg" alt="" />
            </div>
            <div class="middle-top-five">
              <p>Urn&nbsp; <i>R</i>500</p>
            </div>
            <div class="button-top-photo">
              <button>BUY</button>
            </div>
          </div>

          <div class="single-top-six">
            <div class="photo">
              <img src="../../../../assets/cas1.jpg" alt="" />
            </div>
            <div class="middle-top-five">
              <p>Casket&nbsp; <i>R</i>1500</p>
            </div>
            <div class="button-top-photo">
              <button>BUY</button>
            </div>
          </div>
        </swiper-slide>
      </swiper-container>
      <div class="right-button"></div>
    </div>

    <!--
    <div class="side-top-five">
      <div class="single-top-six">
        <div class="photo">
          <img src="../../../../assets/cas1.jpg" alt="" />
        </div>
        <div class="middle-top-five">
          <p>Casket&nbsp; <i>R</i>1500</p>
        </div>
        <div class="button-top-photo">
          <button>BUY</button>
        </div>
      </div>

      <div class="single-top-six">
        <div class="photo">
          <img src="../../../../assets/images (1).jpg" alt="" />
        </div>
        <div class="middle-top-five">
          <p>Tombstone&nbsp; <i>R</i>800</p>
        </div>
        <div class="button-top-photo">
          <button>BUY</button>
        </div>
      </div>
      <div class="single-top-six">
        <div class="photo">
          <img src="../../../../assets/fast-hurae.jpg" alt="" />
        </div>
        <div class="middle-top-five">
          <p>Fast Hurse &nbsp; <i>R</i>2000</p>
        </div>
        <div class="button-top-photo">
          <button>BUY</button>
        </div>
      </div>
      <div class="single-top-six">
        <div class="photo">
          <img src="../../../../assets/urn.jpg" alt="" />
        </div>
        <div class="middle-top-five">
          <p>Urn&nbsp; <i>R</i>500</p>
        </div>
        <div class="button-top-photo">
          <button>BUY</button>
        </div>
      </div>
      <div class="single-top-six">
        <div class="photo">
          <img src="../../../../assets/tent.jpg" alt="" />
        </div>
        <div class="middle-top-five">
          <p>Tents&nbsp; <i>R</i>4366</p>
        </div>
        <div class="button-top-photo">
          <button>BUY</button>
        </div>
      </div>
      <div class="single-top-six">
        <div class="photo">
          <img src="../../../../assets/cas1.jpg" alt="" />
        </div>
        <div class="middle-top-five">
          <p>Caskets&nbsp; <i>R</i>2000</p>
        </div>
        <div class="button-top-photo">
          <button>BUY</button>
        </div>
      </div>
    </div>

  --></div>

  <div class="pakages">
    <div class="single-pa">
      <h3>Burial Cover</h3>
      <div class="checklist">
        <div class="single-check">
          <ion-icon name="checkmark-circle"></ion-icon>
          <p>Buriel Option 1</p>
        </div>

        <div class="single-check">
          <ion-icon name="checkmark-circle"></ion-icon>
          <p>Buriel Option 2</p>
        </div>

        <div class="single-check">
          <ion-icon name="checkmark-circle"></ion-icon>
          <p>Buriel Option 3</p>
        </div>

        <div class="single-check">
          <ion-icon name="checkmark-circle"></ion-icon>
          <p>Buriel Option 4</p>
        </div>

        <div class="single-check">
          <ion-icon name="checkmark-circle"></ion-icon>
          <p>Buriel Option 5</p>
        </div>
      </div>
      <p class="price">@ R100 P/M</p>
      <button>Get Cover</button>
    </div>

    <div class="single-pa">
      <h3>Memorial Cover</h3>
      <div class="checklist">
        <div class="single-check">
          <ion-icon name="checkmark-circle"></ion-icon>
          <p>Memorial Option 1</p>
        </div>

        <div class="single-check">
          <ion-icon name="checkmark-circle"></ion-icon>
          <p>Memorial Option 2</p>
        </div>

        <div class="single-check">
          <ion-icon name="checkmark-circle"></ion-icon>
          <p>Memorial Option 3</p>
        </div>

        <div class="single-check">
          <ion-icon name="checkmark-circle"></ion-icon>
          <p>Memorial Option 4</p>
        </div>
      </div>
      <p class="price">R125 P/M</p>
      <button>Get Cover</button>
    </div>

    <div class="single-pa">
      <h3>Funeral Cover</h3>
      <div class="checklist">
        <div class="single-check">
          <ion-icon name="checkmark-circle"></ion-icon>
          <p>Funeral Cover 1</p>
        </div>

        <div class="single-check">
          <ion-icon name="checkmark-circle"></ion-icon>
          <p>Funeral Cover 2</p>
        </div>

        <div class="single-check">
          <ion-icon name="checkmark-circle"></ion-icon>
          <p>Funeral Cover 3</p>
        </div>

        <div class="single-check">
          <ion-icon name="checkmark-circle"></ion-icon>
          <p>Funeral Cover 4</p>
        </div>
      </div>
      <p class="price">@ R150 P/M</p>
      <button>Get Cover</button>
    </div>

    <div class="single-pa">
      <h3>The Ultimate Cover</h3>
      <div class="checklist">
        <div class="single-check">
          <ion-icon name="checkmark-circle"></ion-icon>
          <p>Funeral Cover</p>
        </div>

        <div class="single-check">
          <ion-icon name="checkmark-circle"></ion-icon>
          <p>Buriel Options</p>
        </div>

        <div class="single-check">
          <ion-icon name="checkmark-circle"></ion-icon>
          <p>All - In - One</p>
        </div>

        <div class="single-check">
          <ion-icon name="checkmark-circle"></ion-icon>
          <p>Obituary Cover</p>
        </div>
      </div>
      <p class="price">@ R400 P/M</p>
      <button>Get Cover</button>
    </div>
  </div>
  <!--
  <img src="../../../../assets/logo.PNG" />
  <img src="../../../../assets/logo.PNG" />
  <img src="../../../../assets/logo.PNG" />
  <img src="../../../../assets/logo.PNG" id="non" />
  <button (click)="take()">Huyr</button>
  -->
  <div class="mid-quote" style="margin-top: 3rem">
    <div class="icon-top">
      <ion-icon name="paw"></ion-icon>
    </div>
    <div class="quote-info">
      <h3>
        Knowing the team and product you are dealing with helps the customer
        build trust for the product
      </h3>
      <p>- Senzo Mnguni</p>
    </div>
    <div class="icon-bottom">
      <ion-icon name="paw"></ion-icon>
    </div>
  </div>

  <div class="members">
    <div class="heading">
      <div></div>
      <h2>About Us</h2>
    </div>
    <div class="single-member">
      <h2>MISSION</h2>
      <p>
        To help create remembrances that reflect the unique values, character
        and traditions of the families we serve. That is our passion, that is
        our purpose, that is our promise. Guaranteed
      </p>
    </div>

    <div
      class="single-member"
      style="
        margin-left: 8rem;
        background: rgba(239, 237, 237, 0.737);
        border-color: #bc3e19;
      "
    >
      <h2>VALUES</h2>
      <p style="color: #bc3e19">
        For us there is no greater honor than helping to remember a life lived.
        We are dedicated, local professionals committed to getting every detail
        right, every time. We do this by listening, caring and guiding each and
        every family who walks through our doors. It's our oath , our mantra and
        overall our etiquette.
      </p>
    </div>

    <div class="single-member" style="margin-left: 16rem">
      <h2>GOALS</h2>
      <p>
        Serving families is our passion, our commitment and our expertise.
        Whether you're planning a funeral or cremation service for a loved one,
        or making your own arrangements in advance, meaningful life celebrations
        begin with GZX FUNERALS.
      </p>
    </div>
  </div>

  <div class="heading">
    <div></div>
    <h2>Meet Our Team</h2>
  </div>

  <div class="testimonials" id="test">
    <div class="cover-testimonials">
      <div class="single-testimony">
        <div class="testimony-pic">
          <ion-icon name="ribbon"></ion-icon>
        </div>
        <div class="the-testimony">
          <h5>Image Shandlani</h5>
          <div class="testimony-text">
            <p id="test-m">
              " 26 Years of experience in the space performing a vriety of roles
              during that persion. Passionate about the job and helping african
              families"
            </p>
          </div>

          <p id="test-icon">Product Leader</p>
        </div>
      </div>

      <div class="single-testimony">
        <div class="testimony-pic">
          <ion-icon name="ribbon"></ion-icon>
        </div>
        <div class="the-testimony">
          <h5>John Baloyi</h5>
          <div class="testimony-text">
            <p id="test-m">
              " 26 Years of experience in the space performing a vriety of roles
              during that persion. Passionate about the job and helping african
              families"
            </p>
          </div>

          <p id="test-icon">CFO</p>
        </div>
      </div>

      <div class="single-testimony">
        <div class="testimony-pic">
          <ion-icon name="ribbon"></ion-icon>
        </div>
        <div class="the-testimony">
          <h5>Nathan Nthuli</h5>
          <div class="testimony-text">
            <p id="test-m">
              " 26 Years of experience in the space performing a vriety of roles
              during that persion. Passionate about the job and helping african
              families"
            </p>
          </div>
          <p id="test-icon">Marketing</p>
        </div>
      </div>

      <div class="single-testimony">
        <div class="testimony-pic">
          <ion-icon name="ribbon"></ion-icon>
        </div>
        <div class="the-testimony">
          <h5>Bafana Hongwana</h5>
          <div class="testimony-text">
            <p id="test-m">
              " 26 Years of experience in the space performing a vriety of roles
              during that persion. Passionate about the job and helping african
              families"
            </p>
          </div>
          <p id="test-icon">Head Of Media</p>
        </div>
      </div>
    </div>
  </div>

  <div class="heading">
    <div></div>
    <h2>Since We Started</h2>
  </div>

  <div class="stats-div">
    <div class="single-stat">
      <div class="main-stat">
        <ion-icon name="golf-outline"></ion-icon>
        <p>Completed Funerals</p>
      </div>
      <div class="over-stat"><p>2568</p></div>
    </div>

    <div class="single-stat">
      <div class="main-stat">
        <ion-icon name="people-outline"></ion-icon>
        <p>Members</p>
      </div>
      <div class="over-stat"><p>1150</p></div>
    </div>

    <div class="single-stat">
      <div class="main-stat">
        <ion-icon name="person-outline"></ion-icon>
        <p>Memorials</p>
      </div>
      <div class="over-stat"><p>657</p></div>
    </div>
  </div>

  <br /><br /><br /><br />

  <!--
  <div class="heading">
    <h2>Words From Our Clients</h2>
  </div>

  <div class="new-test">
    <div class="single-new-tests">
      <p>
        <i>"</i><br />
        The service I recieved from GZX was top notch. I was able to give my
        grandmother a fitting funeral and grand send off that is line with our
        costumes. The claim was paid out in less than 24 hours to help speed up
        the funeral arrangements. <br />
        <i>"</i>
      </p>

      <h4>~ Ntombi Mudau</h4>
    </div>

    <div class="single-new-tests">
      <p>
        <i>"</i><br />
        The service I recieved from GZX was top notch. I was able to give my
        grandmother a fitting funeral and grand send off that is line with our
        costumes. The claim was paid out in less than 24 hours to help speed up
        the funeral arrangements. <br />
        <i>"</i>
      </p>

      <h4>~ Ken Nyembe</h4>
    </div>
  </div>
  -->

  <app-footer></app-footer>
</ion-content>
