.the-footer {
  width: 100%;
  height: fit-content;
  background: #111;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  color: #eee;

  p {
    font-style: oblique;
    color: #aaa;
  }
  .head-foot {
    height: 15%;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    font-family: "Playfair Display", serif;

    h2 {
      font-style: italic;
      font-weight: 700;
    }

    h2.name {
      color: #3cbfd5;
    }
  }

  .one-footer {
    width: 31%;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .one-text {
      width: 100%;
      padding-left: 1rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 10%;
      margin-top: 0.6rem;
    }

    .socials {
      width: 100%;
      height: 75%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex: row;

      div {
        width: 30%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        a {
          margin-left: 2rem;
          margin-right: 2rem;
          font-size: 1.5rem;
          cursor: pointer;
        }
      }
      .face {
        color: #4267b2;
      }

      .tweet {
        color: #1da1f2;
      }

      .insta {
        color: #e95950;
      }
    }
  }

  .two-footer {
    width: 31%;
    height: 45vh;

    .two-text {
      width: 100%;
      height: 90%;
      padding-top: 2rem;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      a {
        margin-left: 2rem;
        cursor: pointer;
        color: #eee;
        margin-bottom: 0.5rem;
        transition: all ease-out 0.3s;
      }

      a:hover {
        color: #4267b2;
        font-size: 1.5rem;
      }
    }
  }

  .three-footer {
    width: 31%;
    height: 45vh;

    .search-area {
      margin-top: 2rem;
      width: 100%;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: row;

      ion-button {
        height: 2rem;
        --background: #0b1c64;
        --border-radius: 1rem;
      }

      ion-input {
        border: 1px #0b1c64 solid;
        --color: #ffff;
        height: 2rem;
        border-radius: 1rem;
        margin-right: 1rem;
      }
    }
  }
}

@media (min-width: 350px) and (max-width: 500px) and (orientation: portrait) {
  .the-footer {
    padding: 0.5rem !important;
    justify-content: center !important;
    flex-direction: column !important;

    .one-footer,
    .two-footer,
    .three-footer {
      width: 100% !important;
      height: 36vh !important;
    }
  }
}

@media (min-width: 660px) and (max-width: 925px) and (orientation: landscape) {
  .the-footer {
    padding: 0.5rem !important;

    .one-footer,
    .two-footer,
    .three-footer {
      height: 85vh !important;
    }

    .search-area {
      justify-content: center !important;
      flex-direction: column !important;

      ion-input {
        margin-right: 0 !important;
      }

      ion-button {
        width: 100% !important;
      }
    }
  }
}

/******************* SMALL TABLET PORTAIT VIERW *****************************************/
@media (min-width: 491px) and (max-width: 760px) and (orientation: portrait) {
  .the-footer {
    padding: 0.5rem !important;
    justify-content: center !important;
    flex-direction: column !important;

    .one-footer,
    .two-footer,
    .three-footer {
      width: 100% !important;
      height: 36vh !important;
    }
  }

  .two-text a {
    margin-left: 10rem !important;
  }
}

/******************* SMALL TABLET LANDSCAPE VIERW *****************************************/
@media (min-width: 719px) and (max-width: 1020px) and (min-height: 500px) and (orientation: landscape) {
  .two-text {
    padding-top: 3rem !important;
  }
}

/** DARK MODE SCREEN MEDIA QUERIS ***/

@media (prefers-color-scheme: dark) {
  .the-footer {
    border-top: #aaa solid 1px;
  }
}
