<div class="the-footer">
  <div class="one-footer">
    <div class="head-foot">
      <img src="../../../assets/new-logos/GZX-01.png" alt="" />
    </div>
    <div class="one-text"><p>follow us @ :</p></div>
    <div class="socials">
      <div>
        <a><ion-icon class="face" name="logo-facebook"></ion-icon></a>
        <p>facebook</p>
      </div>
      <div>
        <a><ion-icon class="tweet" name="logo-twitter"></ion-icon></a>
        <p>twitter</p>
      </div>
      <div>
        <a><ion-icon class="insta" name="logo-instagram"></ion-icon></a>
        <p>instagram</p>
      </div>
    </div>
  </div>
  <div class="two-footer">
    <div class="head-foot"><h2>Extra Links</h2></div>
    <div class="two-text">
      <a routerLink="/login">Upcoming Events</a>
      <a routerLink="/about">Memorials</a>
      <a routerLink="/about">Get a obituary</a>
      <a routerLink="/about">See Caskets</a>
      <a routerLink="/about">Sea all tombstones</a>
      <a routerLink="/about">Tombstones and Burials</a>
    </div>
  </div>
  <div class="three-footer">
    <div class="head-foot"><h2>Subscribe to Newsletter</h2></div>
    <p>
      Subcribe to the newsletter to stya up to date with news, events and our
      other activities happening in and around you
    </p>
    <div class="search-area">
      <ion-input placeholder="Enter Your Email Address"></ion-input>
      <ion-button>Request</ion-button>
    </div>
  </div>
  <div
    style="
      background: #3e4093 !important;
      margin-top: 1rem;
      margin-bottom: 1rem;
      z-index: 100;
      width: 100%;
      height: 0.085rem;
    "
  ></div>
  <div class="bootom-footer">
    <p>Copyright &copy; &nbsp; MK INNOVATIONS 2022</p>
  </div>
</div>
