<ion-menu
  side="start"
  type="overlay"
  menuId="userMenu-site-account"
  contentId="user-site-account"
>
  <ion-header>
    <ion-toolbar>
      <ion-title
        ><center>
          <img src="../../../../../assets/logo.PNG" alt="" /></center
      ></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="navigate(1)" >
        <div class="center-these">
          <ion-icon name="home-outline"></ion-icon>
          <p>Profile</p>
        </div>
      </ion-item>
      <ion-item (click)="navigate(2)" class="admin-active">
        <div class="center-these">
          <ion-icon name="accessibility-outline"></ion-icon>
          <p>Account Details</p>
        </div>
      </ion-item>

      <ion-item (click)="navigate(3)">
        <div class="center-these">
          <ion-icon name="camera-outline"></ion-icon>
          <p>History</p>
        </div>
      </ion-item>

      <ion-item (click)="navigate(0)">
        <div class="center-these">
          <ion-icon name="power-outline"></ion-icon>
          <p>Logout</p>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="user-site-account"></ion-router-outlet>

<ion-header>
  <ion-toolbar class="admin-menus">
    <ion-title slot="center">Admin-home</ion-title>
    <ion-buttons slot="start" (click)="userMenu('-site-account')">
      <ion-icon name="menu-outline" size="large"></ion-icon>
    </ion-buttons>

    <h4 style="margin-left: 40%">Account Details</h4>
  </ion-toolbar>
</ion-header>
<ion-content class="user-home admin-cover">

  <div class="account-details-cover">
    <div class="account">
      <div class="top-account">
        <div class="left-account">
          <div class="icon-account">
            <ion-icon name="time-outline"></ion-icon>
          </div>
          <div class="description-account">
            <h3>Name : </h3>
          </div>
        </div>
        <div class="right-account">
          <p>Image Shandlani</p>
        </div>
      </div>
      <div class="body-account">

        <div class="single-body-account">
          <div class="left-account">
            <div class="icon-account">
              <ion-icon name="time-outline"></ion-icon>
            </div>
            <div class="description-account">
              <h3>Name : </h3>
            </div>
          </div>
          <div class="right-account">
            <p>Image Shandlani</p>
          </div>
        </div>

        <div class="single-body-account">
          <div class="left-account">
            <div class="icon-account">
              <ion-icon name="time-outline"></ion-icon>
            </div>
            <div class="description-account">
              <h3>Name : </h3>
            </div>
          </div>
          <div class="right-account">
            <p>Image Shandlani</p>
          </div>
        </div>

        <div class="single-body-account">
          <div class="left-account">
            <div class="icon-account">
              <ion-icon name="time-outline"></ion-icon>
            </div>
            <div class="description-account">
              <h3>Name : </h3>
            </div>
          </div>
          <div class="right-account">
            <p>Image Shandlani</p>
          </div>
        </div>

        <div class="single-body-account">
          <div class="left-account">
            <div class="icon-account">
              <ion-icon name="time-outline"></ion-icon>
            </div>
            <div class="description-account">
              <h3>Name : </h3>
            </div>
          </div>
          <div class="right-account">
            <p>Image Shandlani</p>
          </div>
        </div>
      </div>
      <div class="actions-account">
        <button>Update</button>
        <button>Pause</button>
        <button>Delete</button>
      </div>
    </div>
  </div>
</ion-content>
