<ion-header>
  <ion-toolbar>
    <div class="desktop-menu" (scroll)="onWindowScroll();">
      <a class="logo">
        <img src="../../../../assets/funeral.png" />
      </a>

      <ul>
        <li (click)="home()">
          <a>Home</a>
        </li>
        <li (click)="products()">
          <a>Products</a>
        </li>
        <li (click)="gallery()" class="active">
          <a>Gallery</a>
        </li>
        <li (click)="about()">
          <a>About US</a>
        </li>
        <li (click)="contact()">
          <a>Contact US</a>
        </li>

        <li (click)="admin()">
          <a>Admin</a>
        </li>
      </ul>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="box-wrapper">
  <div class="banner">
    <div class="over-banner">
      <div>
        <p>Home / Gallery</p>
      </div>
    </div>
  </div>

  <div class="heading">
    <h2>From the last weekend</h2>
    <p><ion-icon name="calendar-outline"></ion-icon> 23-25 MAY 2022</p>
  </div>

  <div class="first-cluster">
    <div class="right">
      <div class="top-right">
        <img src="../../../../assets/static-area.jpg" alt="" />
        <div>
          <p><ion-icon name="compass-outline"></ion-icon> 2667 Glen 1819</p>

          <p><ion-icon name="alarm-outline"></ion-icon> 10:00</p>
          <p><ion-icon name="albums-outline"></ion-icon> SlideShow</p>
        </div>
      </div>
      <div class="less-right">
        <img src="../../../../assets/contact.jpg" alt="" />
        <div>
          <p><ion-icon name="compass-outline"></ion-icon> 2667 Glen 1819</p>

          <p><ion-icon name="alarm-outline"></ion-icon> 10:00</p>
          <p><ion-icon name="albums-outline"></ion-icon> SlideShow</p>
        </div>
      </div>
    </div>
    <div class="left">
      <img src="../../../../assets/gal5.jpg" alt="" />
      <div>
        <p><ion-icon name="compass-outline"></ion-icon> 2667 Glen 1819</p>

        <p><ion-icon name="alarm-outline"></ion-icon> 10:00</p>

        <p><ion-icon name="albums-outline"></ion-icon> SlideShow</p>
      </div>
    </div>
  </div>

  <div class="first-cluster">
    <div class="left">
      <img src="../../../../assets/gal1.jpg" alt="" />
      <div>
        <p>
          <ion-icon name="compass-outline"></ion-icon> &nbsp; 2667 Glen 1819
        </p>

        <p><ion-icon name="alarm-outline"></ion-icon> &nbsp; 10:00</p>

        <p><ion-icon name="albums-outline"></ion-icon> &nbsp; SlideShow</p>
      </div>
    </div>
    <div class="right">
      <div class="top-right">
        <img src="../../../../assets/gal4.jpg" alt="" />
        <div>
          <p>
            <ion-icon name="compass-outline"></ion-icon> &nbsp; 2667 Glen 1819
          </p>

          <p><ion-icon name="alarm-outline"></ion-icon> &nbsp; 10:00</p>
          <p><ion-icon name="albums-outline"></ion-icon> &nbsp; SlideShow</p>
        </div>
      </div>
      <div class="less-right">
        <img src="../../../../assets/one.jpg" alt="" />
        <div>
          <p>
            <ion-icon name="compass-outline"></ion-icon> &nbsp; 2667 Glen 1819
          </p>

          <p><ion-icon name="alarm-outline"></ion-icon> &nbsp; 10:00</p>
          <p><ion-icon name="albums-outline"></ion-icon> &nbsp; SlideShow</p>
        </div>
      </div>
    </div>
  </div>

  <div class="first-cluster">
    <div class="left">
      <img src="../../../../assets/gal1.jpg" alt="" />
      <div>
        <p><ion-icon name="compass-outline"></ion-icon> 2667 Glen 1819</p>

        <p><ion-icon name="alarm-outline"></ion-icon> 10:00</p>

        <p><ion-icon name="albums-outline"></ion-icon> SlideShow</p>
      </div>
    </div>
    <div class="right">
      <div class="top-right">
        <img src="../../../../assets/gal4.jpg" alt="" />
        <div>
          <p><ion-icon name="compass-outline"></ion-icon> 2667 Glen 1819</p>

          <p><ion-icon name="alarm-outline"></ion-icon> 10:00</p>
          <p><ion-icon name="albums-outline"></ion-icon> SlideShow</p>
        </div>
      </div>
      <div class="less-right">
        <img src="../../../../assets/one.jpg" alt="" />
        <div>
          <p><ion-icon name="compass-outline"></ion-icon> 2667 Glen 1819</p>

          <p><ion-icon name="alarm-outline"></ion-icon> 10:00</p>
          <p><ion-icon name="albums-outline"></ion-icon> SlideShow</p>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>
