<ion-header>
  <ion-toolbar>
    <div class="desktop-menu">
      <a class="logo">
        <img src="../../../../assets/new-logos/GZX-01.jpg" />
      </a>

      <ul>
        <li (click)="home()">
          <a>Home</a>
        </li>
        <li (click)="products()">
          <a>Products</a>
        </li>
        <li (click)="gallery()" class="active">
          <a>Gallery</a>
        </li>
        <li (click)="about()">
          <a>About US</a>
        </li>
        <li (click)="contact()">
          <a>Contact US</a>
        </li>

        <li (click)="admin()">
          <a>Admin</a>
        </li>

        <div>
          <ion-icon name="logo-whatsapp"></ion-icon>
          <p>068 6465 2655</p>
        </div>

        <button (click)="getOffer()">Get Quote</button>
      </ul>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="box-wrapper">
  <div class="banner">
    <div class="over-banner">
      <div>
        <p>Home / Gallery</p>
      </div>
    </div>
  </div>

  <div class="gallery-main">
    <swiper-container
      class="left-gal-main-slide"
      [loop]="true"
      autoplay
      effect="flip"
      mousewheel-force-to-axis="true"
    >
      <swiper-slide>
        <img src="../../../../assets/15942291.jpg" alt="" />
      </swiper-slide>
      <swiper-slide>
        <img src="../../../../assets/gal3.jpg" alt="" />
      </swiper-slide>
      <swiper-slide>
        <img src="../../../../assets/gal4.jpg" alt="" />
      </swiper-slide>
    </swiper-container>

    <div class="right-gal-content">
      <div class="heading">
        <button>Latest Event</button>
        <h2>Funeral For BK Khoza.</h2>
        <p><ion-icon name="calendar-outline"></ion-icon> 23-25 MAY 2022</p>
      </div>

      <div class="content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
          sapiente fugit velit accusantium officia, excepturi odio distinctio
          necessitatibus sed corrupti vitae at fugiat earum cum est. Ab enim
          voluptate nostrum!
        </p>
      </div>

      <div class="main-icons">
        <div class="single-icon-main">
          <ion-icon name="person"></ion-icon>
          <p>Khoza BK</p>
        </div>
        <div class="single-icon-main">
          <ion-icon name="time"></ion-icon>
          <p>10:30 A.M.</p>
        </div>
        <div class="single-icon-main">
          <ion-icon name="location"></ion-icon>
          <p>Soweto</p>
        </div>
        <div class="single-icon-main">
          <ion-icon name="people"></ion-icon>
          <p>250+</p>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br /><br /><br /><br />
  <div class="heading">
    <h2>From Our Archives</h2>
    <p><ion-icon name="film"></ion-icon> Memories</p>
  </div>

  <div class="first-cluster">
    <div class="right">
      <div class="top-right">
        <img src="../../../../assets/static-area.jpg" alt="" />
        <div>
          <p><ion-icon name="compass-outline"></ion-icon> 2667 Glen 1819</p>

          <p><ion-icon name="alarm-outline"></ion-icon> 10:00</p>
          <p><ion-icon name="albums-outline"></ion-icon> SlideShow</p>
        </div>
      </div>
      <div class="less-right">
        <img src="../../../../assets/contact.jpg" alt="" />
        <div>
          <p><ion-icon name="compass-outline"></ion-icon> 2667 Glen 1819</p>

          <p><ion-icon name="alarm-outline"></ion-icon> 10:00</p>
          <p><ion-icon name="albums-outline"></ion-icon> SlideShow</p>
        </div>
      </div>
    </div>
    <div class="left">
      <img src="../../../../assets/gal5.jpg" alt="" />
      <div>
        <p><ion-icon name="compass-outline"></ion-icon> 2667 Glen 1819</p>

        <p><ion-icon name="alarm-outline"></ion-icon> 10:00</p>

        <p><ion-icon name="albums-outline"></ion-icon> SlideShow</p>
      </div>
    </div>
  </div>

  <div class="first-cluster">
    <div class="left">
      <img src="../../../../assets/gal1.jpg" alt="" />
      <div>
        <p>
          <ion-icon name="compass-outline"></ion-icon> &nbsp; 2667 Glen 1819
        </p>

        <p><ion-icon name="alarm-outline"></ion-icon> &nbsp; 10:00</p>

        <p><ion-icon name="albums-outline"></ion-icon> &nbsp; SlideShow</p>
      </div>
    </div>
    <div class="right">
      <div class="top-right">
        <img src="../../../../assets/gal4.jpg" alt="" />
        <div>
          <p>
            <ion-icon name="compass-outline"></ion-icon> &nbsp; 2667 Glen 1819
          </p>

          <p><ion-icon name="alarm-outline"></ion-icon> &nbsp; 10:00</p>
          <p><ion-icon name="albums-outline"></ion-icon> &nbsp; SlideShow</p>
        </div>
      </div>
      <div class="less-right">
        <img src="../../../../assets/one.jpg" alt="" />
        <div>
          <p>
            <ion-icon name="compass-outline"></ion-icon> &nbsp; 2667 Glen 1819
          </p>

          <p><ion-icon name="alarm-outline"></ion-icon> &nbsp; 10:00</p>
          <p><ion-icon name="albums-outline"></ion-icon> &nbsp; SlideShow</p>
        </div>
      </div>
    </div>
  </div>

  <div class="first-cluster">
    <div class="left">
      <img src="../../../../assets/gal1.jpg" alt="" />
      <div>
        <p><ion-icon name="compass-outline"></ion-icon> 2667 Glen 1819</p>

        <p><ion-icon name="alarm-outline"></ion-icon> 10:00</p>

        <p><ion-icon name="albums-outline"></ion-icon> SlideShow</p>
      </div>
    </div>
    <div class="right">
      <div class="top-right">
        <img src="../../../../assets/gal4.jpg" alt="" />
        <div>
          <p><ion-icon name="compass-outline"></ion-icon> 2667 Glen 1819</p>

          <p><ion-icon name="alarm-outline"></ion-icon> 10:00</p>
          <p><ion-icon name="albums-outline"></ion-icon> SlideShow</p>
        </div>
      </div>
      <div class="less-right">
        <img src="../../../../assets/one.jpg" alt="" />
        <div>
          <p><ion-icon name="compass-outline"></ion-icon> 2667 Glen 1819</p>

          <p><ion-icon name="alarm-outline"></ion-icon> 10:00</p>
          <p><ion-icon name="albums-outline"></ion-icon> SlideShow</p>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>
