<ion-header>
  <ion-toolbar>
    <div class="desktop-menu">
      <a class="logo">
        <img src="../../../../assets/new-logos/GZX-01.jpg" />
      </a>

      <ul>
        <li (click)="home()">
          <a>Home</a>
        </li>
        <li (click)="products()">
          <a>Products</a>
        </li>
        <li (click)="gallery()">
          <a>Gallery</a>
        </li>
        <li (click)="about()">
          <a>About US</a>
        </li>
        <li (click)="contact()">
          <a>Contact US</a>
        </li>

        <li (click)="admin()">
          <a>Admin</a>
        </li>

        <div>
          <ion-icon name="logo-whatsapp"></ion-icon>
          <p>068 6465 2655</p>
        </div>
      </ul>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="box-wrapper">
  <div class="cover">
    <div class="form-area">
      <h3>Complete form for policy application</h3>

      <div class="wrap">
        <div class="office-wrap" id="off-wrap">
          <div class="test-trr">
            <div>
              <ion-icon name="person-outline"></ion-icon>
            </div>
            <input type="text" placeholder="Full Name" />
          </div>

          <div class="test-trr">
            <div>
              <ion-icon name="call-outline"></ion-icon>
            </div>
            <input type="text" placeholder="Phone No." />
          </div>
          <div class="test-trr">
            <div>
              <ion-icon name="mail-outline"></ion-icon>
            </div>
            <input type="text" placeholder="Email Address" />
          </div>

          <div class="test-trr">
            <div>
              <ion-icon name="lock-closed-outline"></ion-icon>
            </div>
            <input type="text" placeholder="ID No." />
          </div>
          <div class="test-trr">
            <div>
              <ion-icon name="location-outline"></ion-icon>
            </div>
            <input type="text" placeholder="Address" />
          </div>

          <div class="bottom-log">
            <button (click)="apply()">Send Request</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
