<ion-header>
  <ion-toolbar>
    <div class="desktop-menu">
      <a class="logo">
        <img src="../../../../assets/new-logos/GZX-01.jpg" />
      </a>

      <ul>
        <li (click)="home()">
          <a>Home</a>
        </li>
        <li (click)="products()">
          <a>Products</a>
        </li>
        <li (click)="gallery()">
          <a>Gallery</a>
        </li>
        <li (click)="about()" class="active">
          <a>About US</a>
        </li>
        <li (click)="contact()">
          <a>Contact US</a>
        </li>

        <li (click)="admin()">
          <a>Admin</a>
        </li>

        <div>
          <ion-icon name="logo-whatsapp"></ion-icon>
          <p>068 6465 2655</p>
        </div>

        <button (click)="getOffer()">Get Quote</button>
      </ul>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="box-wrapper">
  <div class="banner">
    <div class="over-banner">
      <div>
        <p>Home / About Us</p>
      </div>
    </div>
  </div>

  <div class="first-about-us">
    <div class="about-about-us">
      <div class="left-of-about">
        <div class="left-about-wrap">
          <div class="top-left-of-about">
            <button>
              <ion-icon name="megaphone-sharp"></ion-icon>
            </button>
            <h3>About GZX Funerals</h3>
          </div>

          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis
            molestias perspiciatis deserunt omnis perferendis ipsa at molestiae
            earum ullam itaque eaque vero tempore, recusandae voluptatum fuga
            quidem magni inventore ab dicta officia delectus id asperiores
            dolore minus. Laboriosam nisi voluptates eos sequi maiores
            repellendus provident commodi recusandae animi necessitatibus, iure
            quisquam, fugit voluptatibus. Iusto, magnam ex!
          </p>
        </div>
      </div>
      <div class="right-of-about">
        <div class="right-of-wrap">
          <h3>Our Promise To You</h3>
          <div class="promise">
            <div class="single-promise">
              <button>
                <ion-icon name="caret-forward"></ion-icon>
              </button>
              <div>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum
                  maxime praesentium blanditiis in. Vitae, non.
                </p>
              </div>
            </div>

            <div class="single-promise">
              <button>
                <ion-icon name="caret-forward"></ion-icon>
              </button>
              <div>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum
                  maxime praesentium blanditiis in. Vitae, non.
                </p>
              </div>
            </div>

            <div class="single-promise">
              <button>
                <ion-icon name="caret-forward"></ion-icon>
              </button>
              <div>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum
                  maxime praesentium blanditiis in. Vitae, non.
                </p>
              </div>
            </div>

            <div class="single-promise">
              <button>
                <ion-icon name="caret-forward"></ion-icon>
              </button>
              <div>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum
                  maxime praesentium blanditiis in. Vitae, non.
                </p>
              </div>
            </div>

            <div class="single-promise">
              <button>
                <ion-icon name="caret-forward"></ion-icon>
              </button>
              <div>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum
                  maxime praesentium blanditiis in. Vitae, non.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br />
    <div class="heading">
      <h2>Meet Our Team</h2>
    </div>
    <div class="history">
      <div class="single-history">
        <div class="img-div">
          <img src="../../../../assets/dav_1.png" alt="" />
        </div>
        <p>Mushin Zuma</p>
        <i>CFO (Since 2005)</i>
      </div>
      <div class="dot-border"></div>
      <div class="single-history">
        <div class="img-div">
          <img src="../../../../assets/pro_pic_2.jpg" alt="" />
        </div>
        <p>Tisetso Mokwena</p>
        <i>Brand Manager (Since 2012)</i>
      </div>
      <div class="dot-border"></div>
      <div class="single-history">
        <div class="img-div">
          <img src="../../../../assets/pro_pic_1.jpg" alt="" />
        </div>
        <p>Amukelani Chauke</p>
        <i>Marketing (Since 2010)</i>
      </div>
    </div>

    <br /><br />
    <div class="heading">
      <h2>What Are We About?</h2>
    </div>

    <div class="members">
      <div class="single-member">
        <h2>MISSION</h2>
        <p>
          To help create remembrances that reflect the unique values, character
          and traditions of the families we serve. That is our passion, that is
          our purpose, that is our promise. Guaranteed
        </p>
      </div>

      <div
        class="single-member"
        style="
          margin-left: 8rem;
          background: rgba(239, 237, 237, 0.737);
          border-color: #cd9833;
        "
      >
        <h2>VALUES</h2>
        <p style="color: #cd9833">
          For us there is no greater honor than helping to remember a life
          lived. We are dedicated, local professionals committed to getting
          every detail right, every time. We do this by listening, caring and
          guiding each and every family who walks through our doors. It's our
          oath , our mantra and overall our etiquette.
        </p>
      </div>

      <div class="single-member" style="margin-left: 16rem">
        <h2>GOALS</h2>
        <p>
          Serving families is our passion, our commitment and our expertise.
          Whether you're planning a funeral or cremation service for a loved
          one, or making your own arrangements in advance, meaningful life
          celebrations begin with GZX FUNERALS.
        </p>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>
