<ion-header>
  <ion-toolbar>
    <div class="desktop-menu">
      <a class="logo">
        <img src="../../../../assets/new-logos/GZX-01.jpg" />
      </a>

      <ul>
        <li (click)="home()">
          <a>Home</a>
        </li>
        <li (click)="products()">
          <a>Products</a>
        </li>

        <!--
        <li (click)="gallery()">
          <a>Gallery</a>
        </li>
      -->
        <li (click)="about()">
          <a>About US</a>
        </li>
        <li (click)="contact()">
          <a>Contact US</a>
        </li>

        <li (click)="admin()" class="active">
          <a>Admin</a>
        </li>

        <div>
          <ion-icon name="logo-whatsapp"></ion-icon>
          <p>068 6465 2655</p>
        </div>

        <button (click)="getOffer()">Get Quote</button>
      </ul>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="box-wrapper">
  <div class="cover">
    <div class="form-area">
      <h3>Login</h3>

      <div class="wrap">
        <div class="office-wrap" id="off-wrap">
          <div class="test-trr">
            <div>
              <ion-icon name="mail-outline"></ion-icon>
            </div>
            <input type="text" placeholder="Admin Email Address" />
          </div>

          <div class="test-trr">
            <div>
              <ion-icon name="lock-closed-outline"></ion-icon>
            </div>
            <input type="password" placeholder="Password" />
          </div>

          <div class="bottom-log">
            <button (click)="goToAdmin()" style="background: #1997bc">
              Admin Login
            </button>
            <button (click)="goToAdmins()" style="background: #354461">
              User Login
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
