<ion-header>
  <ion-toolbar>
    <div class="desktop-menu">
      <a class="logo">
        <img src="../../../../assets/new-logos/GZX-01.jpg" />
      </a>

      <ul>
        <li (click)="home()">
          <a>Home</a>
        </li>
        <li (click)="products()">
          <a>Products</a>
        </li>

        <!--
        <li (click)="gallery()">
          <a>Gallery</a>
        </li>
      -->

        <!--
        <li (click)="about()">
          <a>About US</a>
        </li>
      -->
        <li (click)="contact()" class="active">
          <a>Contact US</a>
        </li>

        <li (click)="admin()">
          <a>Login</a>
        </li>

        <div>
          <ion-icon name="logo-whatsapp"></ion-icon>
          <p>087 821 3692</p>
        </div>

        <button (click)="getOffer()">Get Quote</button>
      </ul>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="box-wrapper">
  <div class="banner">
    <div class="over-banner">
      <div>
        <p>Home / Contact US</p>
      </div>
    </div>
  </div>

  <div class="contact-area">
    <div class="contact-wrap">
      <div class="left">
        <div class="single-contact">
          <div class="icon">
            <ion-icon name="logo-whatsapp"></ion-icon>
          </div>
          <h5>WhatsApp :</h5>
          <p>
            087 821 3692 <br />
            <br />
          </p>
        </div>

        <div class="single-contact">
          <div class="icon">
            <ion-icon name="time"></ion-icon>
          </div>
          <h5>Operating Hours :</h5>
          <p>
            Mon - Fri, 8am - 16:30 <br />
            Sa, 8am - 13:30
          </p>
        </div>

        <div class="single-contact">
          <div class="icon">
            <ion-icon name="location"></ion-icon>
          </div>
          <h5>Address :</h5>
          <p>
            Shop 11, Canary Walk Mall <br />
            8 Beester Street, Nelspruit 1200<br />
          </p>
        </div>

        <div class="single-contact">
          <div class="icon">
            <ion-icon name="call"></ion-icon>
          </div>
          <h5>Telephone:</h5>
          <p>
            087 821 3692 <br />
            <br />
          </p>
        </div>
      </div>
      <div class="right">
        <h3>Leave us a message</h3>
        <br />

        <form>
          <input type="text" placeholder="Full Name" /><br />
          <input type="text" placeholder="Email Address" /><br />
          <input type="text" placeholder="Subject" /><br />
          <textarea cols="30" rows="7" placeholder="Your Message"></textarea>
          <br />
          <button class="contact-btn">Send Message</button>
        </form>
      </div>
    </div>
  </div>

  <div class="map-area">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d225.1357539237495!2d30.98268716469485!3d-25.46592942481442!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ee84a03e2b21c79%3A0x874c9544af8d1c81!2s8%20Bester%20St%2C%20Nelspruit%20Central%2C%20Mbombela%2C%201201!5e0!3m2!1sen!2sza!4v1692088349053!5m2!1sen!2sza"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
  <app-footer></app-footer>
</ion-content>
