<ion-header>
  <ion-toolbar>
    <div class="desktop-menu">
      <a class="logo">
        <img src="../../../../assets/new-logos/GZX-01.jpg" />
      </a>

      <ul>
        <li (click)="home()">
          <a>Home</a>
        </li>
        <li (click)="products()">
          <a>Products</a>
        </li>

        <!--
        <li (click)="gallery()">
          <a>Gallery</a>
        </li>
      -->
        <li (click)="about()">
          <a>About US</a>
        </li>
        <li (click)="contact()" class="active">
          <a>Contact US</a>
        </li>

        <li (click)="admin()">
          <a>Admin</a>
        </li>

        <div>
          <ion-icon name="logo-whatsapp"></ion-icon>
          <p>068 6465 2655</p>
        </div>

        <button (click)="getOffer()">Get Quote</button>
      </ul>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="box-wrapper">
  <div class="banner">
    <div class="over-banner">
      <div>
        <p>Home / Contact US</p>
      </div>
    </div>
  </div>

  <div class="contact-area">
    <div class="contact-wrap">
      <div class="left">
        <div class="single-contact">
          <div class="icon">
            <ion-icon name="logo-whatsapp"></ion-icon>
          </div>
          <h5>WhatsApp :</h5>
          <p>065 845 1456</p>
        </div>

        <div class="single-contact">
          <div class="icon">
            <ion-icon name="mail"></ion-icon>
          </div>
          <h5>Email :</h5>
          <p>
            mail@gzx.com <br />
            gzx@gmail.com
          </p>
        </div>

        <div class="single-contact">
          <div class="icon">
            <ion-icon name="location"></ion-icon>
          </div>
          <h5>Address :</h5>
          <p>
            6584 Komani Street <br />
            Lakeview Extension 5 <br />
            PO Box Pretoria 1820
          </p>
        </div>

        <div class="single-contact">
          <div class="icon">
            <ion-icon name="call"></ion-icon>
          </div>
          <h5>Telephone & Fax :</h5>
          <p>
            (+27) 11 657 6846 <br />
            (+27) 11 651 3249
          </p>
        </div>
      </div>
      <div class="right">
        <h3>Leave us a message</h3>
        <br />

        <form>
          <input type="text" placeholder="Full Name" /><br />
          <input type="text" placeholder="Email Address" /><br />
          <input type="text" placeholder="Subject" /><br />
          <textarea cols="30" rows="7" placeholder="Your Message"></textarea>
          <br />
          <button class="contact-btn">Send Message</button>
        </form>
      </div>
    </div>
  </div>

  <div class="map-area">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3505.0165794780955!2d-81.38642842457801!3d28.53922137571585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e77afa51fbca55%3A0xf7c90b9225939190!2sAmway%20Center!5e0!3m2!1sen!2sza!4v1690792780010!5m2!1sen!2sza"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
  <app-footer></app-footer>
</ion-content>
